.root {
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        color: #fe5f1e;
        width: 50px;
        height: 50px;
        padding: 10px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        cursor: pointer;
        margin-right: 10px;
        &:hover {
            background-color: #fe5f1e;
            color: #fff;
        }
    }
}
