.root {
    position: relative;
}
.input {
    border: 3px solid rgba(0, 0, 0, 0.3);
    padding: 12px 35px;
    width: 460px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: normal;

    transition: all ease-in-out;

    &:focus {
        border: 3px solid rgba(0, 0, 0, 0.5);
        padding: 12px 100px;
        font-weight: 700;
    }
}

.searching {
    width: 18px;
    height: 18px;
    opacity: 0.4;
    position: absolute;
    left: 15px;
    top: 15px;
    font-weight: lighter;
}

.clear {
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
